:root {
    --primary: #2E7D32;
    --primary-dark: #1B5E20;
    --primary-light: #E8F5E9;

    /* --background: #F3F8F3; */
    --background-color: #eaf7ef;
    --surface: #FFFFFF;

    --text-primary: #1F2937;
    --text-secondary: #6B7280;

    --success: #16A34A;
    --warning: #D97706;
    --danger: #DC2626;

    --border: #E1E8E1;

    --shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.05);
    --shadow-md: 0 5px 15px rgba(0, 0, 0, 0.08);

    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 16px;
}